:root {
	--bg-0: hsl(60 40% 95%);
	--txt: hsl(60 40% 10%);
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'satoshi', sans-serif;
	color: var(--txt);
	background-color: var(--bg-0);
	margin: 0;
}

button {
	color: var(--bg-0);
	font: inherit;
	background: var(--txt);
	border: none;
	padding: 0.6rem 1rem;
}
button:hover {
	cursor: pointer;
}
